<!-- views/token_verification.erb -->

<form action="/user/token_verification" method="post">
  <input type="hidden" name="email" value="<%= @user_email %>">

  <label for="token">Verification Token:</label>
  <input type="text" id="token" name="token" required>

  <input type="submit" value="Verify Token">
</form>

<% if params[:error] %>
  <p style="color: red;"><%= params[:error] %></p>
<% end %>
